APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:nthDuXxIG6jqo8g5VXJXoXvJUikY4S9qu8GuFNBAXAY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Beirut
APP_URL=http://localhost:8001
FRONTEND_URL=http://localhost:5173
NGROK_URL= https://b394-185-26-85-248.ngrok-free.app 

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=Attendance_System
DB_USERNAME=postgres
DB_PASSWORD=osama.000


SESSION_DRIVER=cookie
SESSION_LIFETIME=240
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost 

# Sanctum Settings for Authentication
# SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,localhost:3000,localhost:5173,cf74-185-26-85-235.ngrok-free.app #change
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Caching & Queues
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
CACHE_PREFIX=

# Redis Configuration
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail Configuration
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# Frontend (Vite) Configuration
VITE_APP_NAME="${APP_NAME}"